---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { localizeUrl } from "astro-i18next";
import { t, changeLanguage } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";

changeLanguage("en");
---

<Layout title={t("pageTitle")} description={t("pageDescription")}>
	<main>
		<LanguageSelector showFlag={true} class="languages" />
		<a href={localizeUrl("https://aidbodev.com")}>{t("buttons.backtohome")}</a>
		<h1>
			{t("cards.products.bilibili-multi-account.title")}
		</h1>
		<p class="instructions">
			{t("cards.products.bilibili-multi-account.body")}
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://chrome.google.com/webstore/detail/efnnfopebgibgkjlpjjleeamfofhgjgk"
				title={t("cards.products.bilibili-multi-account.links.chrome")}
				body={t("cards.products.bilibili-multi-account.links.add-to-browser")}
			/>
			<Card
				href="https://aidbo.yuque.com/org-wiki-aidbo-ks0srt/release/yqqb9gi4vaeybw3n"
				title={t("cards.products.bilibili-multi-account.links.release-doc")}
				body={t("cards.products.bilibili-multi-account.links.read-the-doc")}
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.grid-one-line {
		grid-column: 1 / -1;
	}
</style>
