---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SocialIcon from "../components/SocialIcon.astro";
import { t, changeLanguage } from "i18next";
import { Trans, LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon";

changeLanguage("en");
---

<Layout title={t("pageTitle")} description={t("pageDescription")}>
	<main>
		<h1>
			<Trans i18nKey="welcome">
				<span class="text-gradient">Aidbo</span> Studio
			</Trans>
			<LanguageSelector showFlag={true} class="languages" />
		</h1>
		<p class="instructions">
			{t("instructions")}
		</p>
		<ul role="list" class="social-icon-grid">
			<SocialIcon href="https://twitter.com/AidboStudio" icon="mdi:twitter" title={t("cards.media.twitter.title")}/>
			<SocialIcon href="https://www.youtube.com/@AidboStudio" icon="mdi:youtube" title={t("cards.media.youtube.title")}/>
			<SocialIcon href="https://space.bilibili.com/10767968" icon="ri:bilibili-line" title={t("cards.media.bilibili.title")}/>
			<SocialIcon href="https://github.com/aidbo" icon="mdi:github" title={t("cards.media.github.title")}/>
		</ul>
		<ul role="list" class="link-card-grid">
			<h2 class="grid-one-line">{t("cards.products.title")}</h2>
			<Card
				href={localizePath("/bilibili-multi-account/")}
				title={t("cards.products.bilibili-multi-account.title")}
				body={t("cards.products.bilibili-multi-account.body")}
			/>
		</ul>
		<ul role="list" class="link-card-grid">
			<h2 class="grid-one-line">{t("cards.members.title")}</h2>
			<Card
				href="https://github.com/zhengbangbo"
				title={t("cards.members.bob.title")}
				body={t("cards.members.bob.body")}
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.social-icon-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, 3rem);
		gap: 0.5rem;
		padding: 0;
	}
	.grid-one-line {
		grid-column: 1 / -1;
	}
	.social-icon {
		height: 2rem;
		width: 2rem;
	}
	.social-icon:hover {
		opacity: 40%;
	}
</style>
